@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Titillium+Web:wght@200&display=swap');
body{
    .container{ position: relative;
        top: 15px;
        left:1025px;
    }
    .ipt {
  max-height: 15px;
}
}